@import "compass_twitter_bootstrap_responsive";




body {
    background-image: url('../images/photos/cafe-senso-04298.jpg');
    background-position: fixed center;
    background-size: 100%;
    background-attachment:fixed;
}


h1,h2,h3,h4,h5 {
    font-family:Monda, sans-serif;
}

.senso-main{
    background: #bab494;
    margin-top:30px;
    margin-left:auto;
    margin-right:auto;
    width:80%;
    margin-bottom:100px;

    .section{
        margin: 70px 0px;
        padding: 14px;

    }
    .section1{
        padding: 10px;
        background-position: center;
    }

    h1#title {
        color:white;
        font-size:64px;
    }

    img.bordered {
        border: solid white 10px;
    }
}






