//Please follow these instructions to install sass on your machine.
//http://sass-lang.com/download.html
.senso-main{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:960px;
	margin-bottom:100px;

	.section{
		margin: 70px 0px;
	}
}




