//Please follow these instructions to install sass on your machine.
//http://sass-lang.com/download.html
.senso-main{
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:80%;
	margin-bottom:100px;

	.section{
		margin: 70px 0px;
	}
	.section1{
		padding: 10px;
		background-image: url("http://placehold.it/1024x768/603311/ffffff");
		background-position: center;
	}
}






